<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1>Sejam bem vindos ao meu blog!</h1>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa voluptatibus doloribus vero corrupti harum voluptates saepe vitae, obcaecati eaque eum dolor illo nihil labore quasi totam nemo dolorum reprehenderit magnam?
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui cum quod nemo quaerat eligendi alias repudiandae veniam exercitationem sapiente consectetur! Quaerat adipisci molestias vel ratione culpa id placeat, mollitia velit?
            </p>
        </div>
    </div>

    <div class="paralax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
          <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>

</div>